.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 80px;

    @include desktop {
        padding-bottom: 0;
    }
    @include tablets {
        padding-bottom: 132px;
    }
}
