.logo {
    color: #464e62;
    font-size: 36px;
    font-weight: 800;
    margin-left: 140px;

    @include desktop {
        margin-left: 60px;
    }
    @include tablets {
        margin-left: 40px;
    }
    @include phones {
        margin-left: 30px;
    }
}
