.menu__list {
    display: flex;
    justify-content: center;
    align-items: center;

    & .menu__item {
        font-size: 16px;
        font-weight: 400;
        margin-right: 40px;
        &:last-child {
            margin-right: 0;
        }
    }
}
