.userinfo {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    text-align: center;

    & .userinfo__title {
        font-size: 18px;
        color: rgba($text-color, 0.4);
        font-weight: 600;
        margin-bottom: 20px;
    }

    & .userinfo__name {
        font-weight: 700;
        font-size: 72px;
        line-height: 1;
        flex-basis: 400px;
    }
}
